/*
Name: Arya Nair
Date created: 2/27/26
Date last edited: 2/27/26
Version: 1.0
Description: Assignment 1 for TP
*/
header {
    width: 100%;
    background-color: rgb(255, 182, 193);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 209, 220);
    margin: 0;
    height: 100%;
    min-height: 100vh; 
}
form {
    flex-grow: 1;
}
h1, h2 {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    flex-grow: 1;
}
main {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: normal;
    flex-grow: 1;
}
.image {
    text-align: left;
}
.td1 {
    text-align: right;
    font-family: "optima", sans-serif;
    font-weight: normal;
}
th {
    text-align: center;
    font-family: "optima", sans-serif;
}
footer {
    position: flex;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 182, 193);
    height: 2.0rem;
}
#footer {
    text-align: right;
    font-family: "optima", sans-serif;
    font-weight: normal;
    margin-right: 10px;
}
label {
    text-align: right;
    font-family: "optima", sans-serif;
    font-weight: normal;
}
input {
    text-align: left;
    font-family: "optima", sans-serif;
    font-weight: normal;
}
textarea {
    text-align: left;
    font-family: "optima", sans-serif;
    font-weight: normal;
}
#today {
    text-align: left;
    font-family: "optima", sans-serif;
    font-weight: normal;
    margin-right: 5px;
}
p {
    text-align: right;
    font-family: "optima", sans-serif;
    font-weight: normal;
}
